.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 30px;
  width: 60px;
  height: 60px;
  background-color: #25d366;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  z-index: 999;
  cursor: pointer;
}

.whatsapp-float img {
  width: 35px;
  height: 35px;
}
