html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* hides horizontal scroll */
    overflow-y: auto;   /* keeps vertical scroll if needed */
    background: #fff;
}

* {
    box-sizing: border-box;
}

/* ----- SCROLLBAR DECORATION ----- */
::-webkit-scrollbar {
  width: 8px;               /* scrollbar width */
}

::-webkit-scrollbar-track {
  background: #f0f4ff;      /* light background */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, orange, orangered, orange);
  border-radius: 10px;      /* round shape */
}

::-webkit-scrollbar-thumb:hover {
  background: #055fcc;      /* darker on hover */
}
